body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #1d1e21;
}

.container {
  flex: 1;
}

/* NAVBAR */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  font-size: 2rem;
  color: #0D6EFD;
}

.nav-link {
  color: #222222 !important;
}

/*Home card */
.page {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.home-page-card {
  background: #ffffff;
  width: 1000px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

.tabs {
  display: flex;
  margin-bottom: 25px;
}

.tab {
  background: #fff;
  border: 2px solid #ddd;
  padding: 10px 25px;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
  font-weight: bold;
}

.tab.active {
  background: #fff;
}

h2 {
  margin: 10px 0 10px;
  font-size: 28px;
}

.subtitle {
  margin: 0 0 30px;
  color: #444;
}

.form-label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

input {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 25px;
}

.submit-btn {
  background: #0D6EFD;
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: fit-content;
}

.submit-btn:hover {
  background: #0b5ed7;
}

/* stats page */
.stats-page-card {
    border-radius: 12px !important;
}

table td, table th {
    vertical-align: middle !important;
}

#shortUrl {
    font-weight: 500;
    color: #0d6efd;
}

/* FOOTER */
.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  font-size: 1.35rem;
  display: flex; 
  gap: 15px;
}

.f-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #ebebeb;
  height: 8rem;
  align-items: space-evenly;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #222222;
}